In [1]:
import numpy as np
import pandas as pd
import os

from sklearn.decomposition import PCA
import matplotlib.pyplot as plt

from scipy.special import rel_entr
from scipy.stats import entropy
import scipy.stats
import math
import warnings 
warnings.filterwarnings("ignore") 

from sklearn.metrics.cluster import normalized_mutual_info_score, adjusted_rand_score

In [2]:
# 使用GPU
os.environ["CUDA_VISIBLE_DEVICES"]="1"

In [3]:
! nvidia-smi

Tue Jun 28 00:10:48 2022
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 470.129.06   Driver Version: 470.129.06   CUDA Version: 11.4     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|                               |                      |               MIG M. |
|===============================+======================+======================|
|   0  NVIDIA GeForce ...  Off  | 00000000:01:00.0 Off |                  N/A |
| 32%   41C    P8    21W / 260W |   1295MiB / 11019MiB |      0%      Default |
|                               |                      |                  N/A |
+-------------------------------+----------------------+----------------------+
|   1  NVIDIA GeForce ...  Off  | 00000000:02:00.0 Off |                  N/A |
| 30%   38C    P8    25W / 260W |   1537MiB / 11019MiB |      0%      Default |
|                               |                      |                  N/A |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                                  |
|  GPU   GI   CI        PID   Type   Process name                  GPU Memory |
|        ID   ID                                                   Usage      |
|=============================================================================|
|    0   N/A  N/A      6976      G   /usr/lib/xorg/Xorg                  9MiB |
|    0   N/A  N/A      7277      G   /usr/bin/gnome-shell                7MiB |
|    0   N/A  N/A      9343      C   ...conda/envs/JAY/bin/python     1273MiB |
|    1   N/A  N/A      6976      G   /usr/lib/xorg/Xorg                  4MiB |
|    1   N/A  N/A     29483      C   ...nda/envs/assa/bin/python3     1529MiB |
+-----------------------------------------------------------------------------+

# MongoDB

In [4]:
from pymongo import MongoClient
import pymongo

In [5]:
mongoURI = "mongodb://%s:%s@%s/%s?authMechanism=SCRAM-SHA-1" % ("eva", "eva_30241", "140.117.69.70:30241", "eva")

try:
    conn = pymongo.MongoClient(mongoURI)
    db = conn.eva
    # db_de = db.patent_de
    # db_us = db.patent_us
    # db_cn = db.patent_cn

    db_rm_cn_2013 = db.rm_patent_cn_2013
    db_rm_us_2013 = db.rm_patent_us_2013
    db_rm_de_2013 = db.rm_patent_de_2013

    
except errors.ConnectionFailure as err:
    print(err)

# 2013

## Company數量

In [6]:
data_assignee = db_rm_de_2013.aggregate([
    {"$unwind" : "$current_assignee"},
    {"$group" : {"_id" : "$current_assignee", "count":{"$sum":1}}},
    {"$sort": {"count":-1}},
    {"$limit":30}
])

ls_company = []
ls_count = []
for data in data_assignee:
    # print(data["_id"],data["count"])
    ls_company.append(data["_id"])
    ls_count.append(data["count"])

In [7]:
df_family_de = pd.DataFrame((zip(ls_company, ls_count)), columns = ['company', 'count'])

In [8]:
data_assignee = db_rm_cn_2013.aggregate([
    {"$unwind" : "$current_assignee"},
    {"$group" : {"_id" : "$current_assignee", "count":{"$sum":1}}},
    {"$sort": {"count":-1}},
    {"$limit":30}
])

ls_company = []
ls_count = []
for data in data_assignee:
    # print(data["_id"],data["count"])
    ls_company.append(data["_id"])
    ls_count.append(data["count"])
    
df_family_cn = pd.DataFrame((zip(ls_company, ls_count)), columns = ['company', 'count'])

In [9]:
data_assignee = db_rm_us_2013.aggregate([
    {"$unwind" : "$current_assignee"},
    {"$group" : {"_id" : "$current_assignee", "count":{"$sum":1}}},
    {"$sort": {"count":-1}},
    {"$limit":30}
])

ls_company = []
ls_count = []
for data in data_assignee:
    # print(data["_id"],data["count"])
    ls_company.append(data["_id"])
    ls_count.append(data["count"])
    
df_family_us = pd.DataFrame((zip(ls_company, ls_count)), columns = ['company', 'count'])

In [10]:
# final_df = pd.concat([df_family_de,df_family_cn,df_family_us],axis=0)

In [11]:
# 取總數前15家公司
df_family_us.groupby("company").sum().reset_index().sort_values("count",ascending=False).head(15)

                                              company  count
2                                Cisco Technology Inc     38
13                                 LG Electronics Inc     13
17                                       Qualcomm Inc     12
25                 Telefonaktiebolaget LM Ericsson AB     10
11                                   IoT Holdings Inc      7
28                                           ZTE Corp      5
27                                         Xerox Corp      4
5   Electronics and Telecommunications Research In...      4
9                                          Intel Corp      4
10                             Intel Deutschland GmbH      4
14                                     NTT Docomo Inc      4
0                                  Alcatel Lucent SAS      3
22                         Samsung Electronics Co Ltd      3
15                              Nokia Technologies Oy      3
7                          Huawei Technologies Co Ltd      3

In [12]:
com_df = df_family_us.groupby("company").sum().reset_index().sort_values("count",ascending=False).head(15)
com_df.reset_index(drop=True, inplace=True)

In [13]:
com_df["count_log"] = com_df["count"].apply(lambda x: np.log(x))
com_df

                                              company  count  count_log
0                                Cisco Technology Inc     38   3.637586
1                                  LG Electronics Inc     13   2.564949
2                                        Qualcomm Inc     12   2.484907
3                  Telefonaktiebolaget LM Ericsson AB     10   2.302585
4                                    IoT Holdings Inc      7   1.945910
5                                            ZTE Corp      5   1.609438
6                                          Xerox Corp      4   1.386294
7   Electronics and Telecommunications Research In...      4   1.386294
8                                          Intel Corp      4   1.386294
9                              Intel Deutschland GmbH      4   1.386294
10                                     NTT Docomo Inc      4   1.386294
11                                 Alcatel Lucent SAS      3   1.098612
12                         Samsung Electronics Co Ltd      3   1.098612
13                              Nokia Technologies Oy      3   1.098612
14                         Huawei Technologies Co Ltd      3   1.098612

公司名稱正規化

In [14]:
com_df["company"] = com_df.company.apply(lambda x: x.replace(" Inc","")\
                                                    .replace(" Co Ltd","")\
                                                    .replace(" Co. Ltd.","")\
                                                    .replace(" Co., Ltd.","")\
                                                    .replace(" Ltd","")\
                                                    .replace(" Corp","")\
                                                    .replace("..","")\
                                                    .replace("International Business Machines","IBM")\
                                                    .replace("Nippon Telegraph and Telephone","Nippon Telegraph & Tel")\
                                                    .replace("Alibaba Group Holding Ltd","Alibaba")\
                                                    .replace("ZTE Intelligent IoT Technology","ZTE")\
                                                    .replace("AT&T Intellectual Property I LP","AT&T")\
                                                    .replace("Microsoft Technology Licensing LLC","Microsoft")\
                                                    .replace("Telefonaktiebolaget LM Ericsson AB","Ericsson")\
                                                    .replace("Cisco Technology","Cisco Systems")\
                                                    .replace("Verizon Patent and Licensing","Verizon Communications")\
                                                    .replace("Tencent Technology Shenzhen","Tencent Holdings")\
                                                    .replace("China Mobile Communications Group","China Mobile")\
                                                    .replace("Alipay Hangzhou Information Technology","Alibaba Group")\
                                                    .replace("Beijing Xiaomi Mobile Software","Xiaomi")\
                                                    .replace("Nokia Technologies Oy","Nokia")\
                                                    .replace("Amazon Technologies","Amazon.com"))

In [15]:
com_df

                                              company  count  count_log
0                                       Cisco Systems     38   3.637586
1                                      LG Electronics     13   2.564949
2                                            Qualcomm     12   2.484907
3                                            Ericsson     10   2.302585
4                                        IoT Holdings      7   1.945910
5                                                 ZTE      5   1.609438
6                                               Xerox      4   1.386294
7   Electronics and Telecommunications Research In...      4   1.386294
8                                               Intel      4   1.386294
9                              Intel Deutschland GmbH      4   1.386294
10                                         NTT Docomo      4   1.386294
11                                 Alcatel Lucent SAS      3   1.098612
12                                Samsung Electronics      3   1.098612
13                                              Nokia      3   1.098612
14                                Huawei Technologies      3   1.098612

In [16]:
com_ls = list(com_df.company)

In [17]:
com_ls.remove('Samsung Electronics')

# Data 2013

富比士2000資料

In [18]:
f_data = pd.read_csv("../../patent/code/依年分/Forbes/Forbes_2013.csv")

In [19]:
f_data[f_data["Industry"]=="Semiconductors"]

,Company,Industry,Country,Market Value,Sales,Profits,Assets,Rank,Forbes Webpage,Profits as % of Assets,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
20,Samsung Electronics,Semiconductors,South Korea,174.4,187.8,21.7,196.3,20,http://www.forbes.com/companies/samsung-electr...,0.110545,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,Intel,Semiconductors,United States,105.7,53.3,11.0,84.4,77,http://www.forbes.com/companies/intel/,0.130332,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
163,Qualcomm,Semiconductors,United States,111.6,20.5,6.6,44.8,164,http://www.forbes.com/companies/qualcomm/,0.147321,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
226,Taiwan Semiconductor,Semiconductors,Taiwan,89.9,17.4,5.7,32.7,227,http://www.forbes.com/companies/taiwan-semicon...,0.174312,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
407,Texas Instruments,Semiconductors,United States,38.8,12.8,1.8,20.0,408,http://www.forbes.com/companies/texas-instrume...,0.090000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
742,ASML Holding,Semiconductors,Netherlands,28.9,6.2,1.5,9.7,743,http://www.forbes.com/companies/asml-holding/,0.154639,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
786,Broadcom,Semiconductors,United States,19.7,8.0,0.7,11.2,787,http://www.forbes.com/companies/broadcom/,0.062500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
950,SK Hynix,Semiconductors,South Korea,18.0,9.6,-0.1,17.1,951,http://www.forbes.com/companies/sk-hynix/,-0.005848,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1142,Applied Materials,Semiconductors,United States,16.0,8.1,0.0,11.7,1143,http://www.forbes.com/companies/applied-materi...,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1149,Tokyo Electron,Semiconductors,Japan,8.5,7.6,0.4,9.3,1149,http://www.forbes.com/companies/tokyo-electron/,0.043011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1231,Micron Technology,Semiconductors,United States,9.6,8.0,-1.1,13.9,1231,http://www.forbes.com/companies/micron-technol...,-0.079137,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1268,Analog Devices,Semiconductors,United States,13.9,2.7,0.6,5.7,1269,http://www.forbes.com/companies/analog-devices/,0.105263,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1306,MediaTek,Semiconductors,Taiwan,15.4,3.4,0.5,7.2,1306,http://www.forbes.com/companies/mediatek/,0.069444,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1333,Infineon Technologies,Semiconductors,Germany,9.3,5.0,0.5,7.2,1334,http://www.forbes.com/companies/infineon-techn...,0.069444,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1397,Altera,Semiconductors,United States,11.2,1.8,0.6,4.7,1398,http://www.forbes.com/companies/altera/,0.127660,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1420,KLA-Tencor,Semiconductors,United States,8.7,3.1,0.7,5.1,1420,http://www.forbes.com/companies/kla-tencor/,0.137255,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1432,Advanced Semiconductor,Semiconductors,Taiwan,6.3,6.6,0.4,8.3,1431,http://www.forbes.com/companies/advanced-semic...,0.048193,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1482,Avago Technologies,Semiconductors,Singapore,8.8,2.4,0.6,2.9,1483,http://www.forbes.com/companies/avago-technolo...,0.206897,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1500,Nvidia,Semiconductors,United States,7.8,4.3,0.6,6.4,1500,http://www.forbes.com/companies/nvidia/,0.093750,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1501,Xilinx,Semiconductors,United States,10.1,2.2,0.5,4.6,1500,http://www.forbes.com/companies/xilinx/,0.108696,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1524,STMicroelectronics,Semiconductors,Switzerland,6.8,8.7,-1.2,10.0,1525,http://www.forbes.com/companies/stmicroelectro...,-0.120000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1635,ARM Holdings,Semiconductors,United Kingdom,19.6,0.9,0.3,2.3,1636,http://www.forbes.com/companies/arm-holdings/,0.130435,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1676,Maxim Integrated Products,Semiconductors,United States,9.6,2.4,0.4,3.7,1677,http://www.forbes.com/companies/maxim-integrat...,0.108108,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1699,Linear Technology,Semiconductors,United States,8.8,1.3,0.4,1.9,1700,http://www.forbes.com/companies/linear-technol...,0.210526,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1751,Renesas Electronics,Semiconductors,Japan,1.1,10.7,-0.8,10.4,1751,http://www.forbes.com/companies/renesas-electr...,-0.076923,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Forbes list  
- 同Industry：1
- 同Sector：2
- 有出現在company list：3
- Company list上有但Forbes沒有：4

In [20]:
forb_ls =[]

for i in com_ls:
    if (f_data["Company"]==i).any():
        if (f_data[f_data.Company==i]["Industry"]=="Semiconductors").any():
            forb_ls.append(1)
        # elif (f_data[f_data.Company==i]["Sector"]=="Information Technology").any():
        #     forb_ls.append(2)
        else:
            forb_ls.append(3)
    else:
        forb_ls.append(4)

In [21]:
forb_ls

[3, 3, 1, 3, 4, 3, 3, 4, 1, 4, 4, 4, 3, 4]

## Company list competitor

In [22]:
competitor_ls=[4, 2, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1]

## 計算NMI

In [23]:
# (labels_true, labels_pred)
nmi = normalized_mutual_info_score(forb_ls,competitor_ls)
ari = adjusted_rand_score(forb_ls,competitor_ls)

print("nmi: ",nmi)
print("ari: ", ari)

nmi:  0.36919423019017944
ari:  0.1576074056491811

## 公司名稱和類別

In [50]:
competitor_df = pd.DataFrame((zip(com_ls, competitor_ls, forb_ls)), columns = ['company', '2013_competitor_lda', '2013_forb'])

In [51]:
competitor_df

                   company  2018_competitor_lda  2018_forb
0                 Qualcomm                    1          1
1                 Ericsson                    1          2
2                    Intel                    1          1
3                      IBM                    1          2
4            Cisco Systems                    1          2
5                Microsoft                    1          2
6                    Apple                    2          2
7                    Nokia                    2          2
8           LG Electronics                    4          3
9                     Sony                    4          3
10  Verizon Communications                    4          3
11                     NEC                    4          2
12     Amazon Technologies                    4          4
13                    AT&T                    4          3

In [52]:
competitor_df.to_csv("../competitor_df/lda_us_2013.csv", index=False)